/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.paneCancha {
	/*-fx-border-color: black;
	-fx-border-width: 1pt;*/
	-fx-background-color: white;
}